/* Общие стили таблицы */
table {
    width: 100%;
    border-spacing: 0 10px;
    border-collapse: collapse; 
    margin-top: 20px; 
}

.table-stat {
    margin-top: 50px;
}

th, td {
    padding: 10px;
    border: 1px solid #ddd; /* Границы для ячеек */
    text-align: center; /* Центрирование текста в ячейках */
    min-width: 100px; /* Минимальная ширина ячейки */
    line-height: 1.5; /* Высота строки */
}

thead th {
    background-color: #9370DB; /* Цвет фона для заголовка */
    position: sticky; /* Фиксация заголовка при прокрутке */
    top: 0; /* Задание позиции заголовка */
}

tbody tr:nth-child(odd) {
    background-color: #f2f2f2; /* Чередование цветов строк */
}

/* Общие стили для раздела с графиками */
#charts {
    width: 100%;
    margin: 0 auto;
}

canvas {
    display: block;
    margin-bottom: 20px;
}

/* Стили для навигационной панели */
nav ul {
    list-style: none;
    margin: 0;
    padding: 0;
    background-color: #333;
    overflow: hidden;
    text-align: center; /* Выравнивание элементов по центру */
}

nav ul li {
    display: inline-block;
    margin: 0 10px; /* Добавлен отступ между вкладками */
}

nav ul li a {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 20px; /* Увеличены отступы */
    text-decoration: none;
    background-color: #8A2BE2; /* Цвет фона для вкладок */
    border-radius: 20px; /* Закругленные углы */
}

nav ul li a:hover {
    background-color: #6A5ACD; /* Цвет фона при наведении */
    color: black; /* Изменен цвет текста при наведении */
}

/* Фиксация навигационной панели */
nav {
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 1000;
}

/* Стили для секций контента */
.content-section {
    display: none;
}

.active-tab {
    display: block;
}

/* Общие стили для кнопок */
button {
    padding: 12px 20px; /* Увеличены отступы */
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    margin-top: 20px; /* Увеличен отступ сверху */
    background-color: #9370DB; /* Цвет фона */
}

button:hover {
    filter: brightness(0.8); /* Уменьшение яркости при наведении */
}

/* Стили для раздела редактирования */
#edit-section {
    padding: 20px; /* Увеличен внутренний отступ */
    background-color: #E6E6FA; /* Бледно-лиловый фон */
    border: 2px solid #8A2BE2; /* Темно-фиолетовая граница */
    border-radius: 30px; /* Большие закругленные углы */
    margin: 70px auto; /* Увеличен отступ сверху и снизу */
    width: 90%; /* Увеличена ширина */
    box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2); /* Тень средней плотности */
}

#edit-section h2 {
    text-align: center;
    color: #4B0082; /* Темно-фиолетовый цвет текста */
    margin-bottom: 40px; /* Увеличен отступ снизу */
}

#student-form {
    display: flex;
    flex-direction: column;
    align-items: center; /* Выравнивание элементов к центру */
}

#student-form input[type="text"],
#student-form input[type="number"] {
    padding: 12px; /* Уменьшены внутренние отступы */
    border: 2px solid #4B0082; /* Темно-фиолетовая граница */
    border-radius: 20px; /* Большие закругленные углы */
    margin-bottom: 30px; /* Увеличен отступ снизу */
    width: 80%;
}

#student-form button {
    padding: 15px 30px; /* Увеличены отступы */
    background-color: #4B0082; /* Темно-фиолетовый цвет кнопки */
    color: #FFFFFF; /* Белый цвет текста */
    border: none; /* Убрана граница */
    border-radius: 25px; /* Большие закругленные углы */
    cursor: pointer; /* Изменен курсор при наведении */
    transition: background-color 0.3s ease; /* Плавное изменение цвета фона */
}

#student-form button:hover {
    background-color: #8A2BE2; /* Темно-фиолетовый цвет при наведении */
}

#edit-section label {
    width: 100%;
    margin-bottom: 20px; /* Увеличен отступ снизу */
}

/* Стили для раздела "Помощь" */
#help {
    padding: 30px; /* Увеличен внутренний отступ */
    background-color: #87CEEB; /* Небесно-голубой фон */
    border-radius: 20px; /* Закругленные углы */
    margin: 50px auto; /* Увеличен отступ сверху и снизу */
    width: 80%; /* Увеличена ширина */
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); /* Мягкая тень */
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif; /* Толстенький шрифт */
    text-align: center; /* Выравнивание по центру */
}

#help h2 {
    font-size: 32px; /* Увеличенный размер заголовка */
    color: #333; /* Черный цвет текста */
    font-weight: bold; /* Жирный шрифт */
    margin-bottom: 20px; /* Увеличенный отступ снизу */
}

#help p {
    font-size: 16px; /* Размер текста */
    color: #666; /* Серый цвет текста */
    line-height: 1.6; /* Межстрочный интервал */
    margin-bottom: 10px; /* Увеличен отступ снизу */
}

/* Стили для раздела "О нас" */
#about {
    padding: 20px; /* Уменьшен внутренний отступ */
    background-color: #87CEEB; /* Небесно-голубой фон */
    border: 2px solid #FF69B4; /* Светло-розовая граница */
    border-radius: 25px; /* Средние закругленные углы */
    margin: 50px auto; /* Увеличен отступ сверху и снизу */
    width: 90%; /* Увеличена ширина */
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); /* Мягкая тень */
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif; /* Толстенький шрифт */
    position: relative; /* Для корректного позиционирования фигуры сердца */
}

#about h2 {
    font-size: 28px; /* Увеличенный размер заголовка */
    color: #FF1493; /* Темно-розовый цвет текста */
    text-align: center; /* Выравнивание заголовка по центру */
    margin-bottom: 30px; /* Увеличенный отступ снизу */
    font-weight: bold; /* Полужирный текст */
}

#about p {
    font-size: 18px; /* Размер текста */
    color: #800080; /* Темно-фиолетовый цвет текста */
    line-height: 1.6; /* Межстрочный интервал */
    margin-bottom: 20px; /* Увеличен отступ снизу */
    text-align: justify; /* Выравнивание текста по ширине */
}

#about .image-container {
    display: flex;
    justify-content: center;
}

#about .image-container img {
    max-width: 100%; /* Максимальная ширина изображения */
    height: auto; /* Автоматическая высота */
    position: relative; /* Позиционируем изображение относительно контейнера */
    z-index: 1; /* Устанавливаем изображение поверх остальных элементов */
    clip-path: polygon(50% 0%, 100% 35%, 90% 100%, 50% 70%, 10% 100%, 0% 35%); /* Создаем форму сердца */
}

#about .image-container:before {
    content: '';
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 150%; /* Увеличение ширины рамки */
    height: 150%; /* Увеличение высоты рамки */
    border: 8px solid #FF69B4; /* Цвет рамки */
    border-radius: 50%; /* Форма рамки */
    z-index: 0; /* Рамка должна быть под изображением */
}


#download-data-button {
    padding: 12px 25px; /* Увеличены отступы */
    background-color: #4CAF50; /* Зеленый цвет */
}

#download-data-button:hover {
    background-color: #45a049;
}

.delete-btn {
    padding: 7px 15px; /* Увеличены отступы */
    background-color: #ff4d4d; /* Красный цвет для кнопки удаления */
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    margin-top: 20px; /* Увеличен отступ сверху */
}

.delete-btn:hover {
    background-color: #ff3333;
}
